.$(prefix)-center {
	box-sizing: content-box;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 60ch;
	/* ↓ Intrinsic Centering: That is, centering elements based on their natural, content-based widths. */
	/* display: flex;
  flex-direction: column;
  align-items: center; */

	/* ↓ Gutters (i.e. 1em) */
	/* padding-left: 1em;
  padding-right: 1em; */
}
