/* Positions */
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.sticky {
	position: sticky;
}
.top-0 {
	top: 0;
}
.left-0 {
	left: 0;
}
.right-0 {
	right: 0;
}
.bottom-0 {
	bottom: 0;
}

/* Displays */
.inline-flex {
	display: inline-flex;
}
.block {
	display: block;
}

/* Z-Index */
.z-0 {
	z-index: 0;
}
.z-1 {
	z-index: 1;
}
.z-important {
	z-index: 999;
}

/* Overflow */
.overflow-hidden {
	overflow: hidden;
}

.overflow-auto {
	overflow: auto;
}

.overflow-scroll {
	overflow: scroll;
}

/* Texts */
.txt-center {
	text-align: center;
}

.txt-right {
	text-align: right;
}

.txt-justify {
	text-align: justify;
}
